# Directories
out/
cache/
lib/

# Set up ignore
src/config/paths.json
paths.json
src/config/modules_blender.json
src/config/modules_post.json


# Sphinx Documentation
build/

# other files
.ideas/
.idea/
*_pycache__/
.vscode/

*.code-workspace